body {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(15, 15, 15);
}

h1 {
    /* border: 1px solid red; */

    color: whitesmoke;
}

#board {
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.cell {
    /* border: 1px solid red; */

    color: whitesmoke;
    font-size: x-large;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-border {
    border-top: 0.2em outset lightcyan;
}

.bottom-border {
    border-bottom: 0.2em outset lightcyan;
}

.left-border {
    border-left: 0.2em outset lightcyan;
}

.right-border {
    border-right: 0.2em outset lightcyan;
}

#bottom {
    /* border: 1px solid red; */

    text-align: center;
    margin: 2em;
    padding: 2em;
    width: 15em;

}

h2 {
    /* border: 1px solid red; */

    color: whitesmoke;
    padding: 0.5em;

    text-transform: uppercase;
}

#reset_Btn {
    /* border: 1px solid red; */
    
    border: 0.4em outset lightcyan;
    color: lightcyan;
    background-color: transparent;

    text-transform: uppercase;
}